In [ ]:
!pip install --upgrade pandas_profiling 
# cần update để pandas_profiling tương thích với các packages khác

In [17]:
# View and understanding data
# data exploration
# %%timeit 
# calculate running time to check ways for accelerating the processing of pandas: dask.dataframe is fastest way betwween chunksize,modin,dask
# test vaex
import pandas as pd
import dask.dataframe as dd
train_full=pd.read_csv('/content/drive/My Drive/Google colab data/Elo_merchant_kaggle/train.csv')
merchants=pd.read_csv('/content/drive/My Drive/Google colab data/Elo_merchant_kaggle/merchants.csv')
test=pd.read_csv('/content/drive/My Drive/Google colab data/Elo_merchant_kaggle/test.csv')

In [ ]:
table_list=[train_full,new_trans,merchants,test]
for i in table_list:
  print (i.info())
  print (i.describe())
new_trans.head()
# test vs new_trains.compute() vs new_trains

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 201917 entries, 0 to 201916
Data columns (total 6 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   first_active_month  201917 non-null  object
 1   card_id             201917 non-null  object
 2   feature_1           201917 non-null  int64
 3   feature_2           201917 non-null  int64
 4   feature_3           201917 non-null  int64
 5   target              201917 non-null  float64
dtypes: float64(1), int64(3), object(2)
memory usage: 9.2+ MB
None
           feature_1      feature_2      feature_3         target
count  201917.000000  201917.000000  201917.000000  201917.000000
mean        3.105311       1.745410       0.565569      -0.393636
std         1.186160       0.751362       0.495683       3.850500
min         1.000000       1.000000       0.000000     -33.219281
25%         2.000000       1.000000       0.000000      -0.883110
50%         3.000000       2.000000       1.000000      -0.023437
75%         4.000000       2.000000       1.000000       0.765453
max         5.000000       3.000000       1.000000      17.965068
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1963031 entries, 0 to 1963030
Data columns (total 14 columns):
 #   Column                Dtype
---  ------                -----
 0   authorized_flag       object
 1   card_id               object
 2   city_id               int64
 3   category_1            object
 4   installments          int64
 5   category_3            object
 6   merchant_category_id  int64
 7   merchant_id           object
 8   month_lag             int64
 9   purchase_amount       float64
 10  purchase_date         object
 11  category_2            float64
 12  state_id              int64
 13  subsector_id          int64
dtypes: float64(2), int64(6), object(6)
memory usage: 209.7+ MB
None
            city_id  installments  ...      state_id  subsector_id
count  1.963031e+06  1.963031e+06  ...  1.963031e+06  1.963031e+06
mean   1.343867e+02  6.829643e-01  ...  1.088067e+01  2.597624e+01
std    1.015152e+02  1.584069e+00  ...  6.038542e+00  1.012908e+01
min   -1.000000e+00 -1.000000e+00  ... -1.000000e+00 -1.000000e+00
25%    6.900000e+01  0.000000e+00  ...  9.000000e+00  1.900000e+01
50%    1.100000e+02  1.000000e+00  ...  9.000000e+00  2.900000e+01
75%    2.120000e+02  1.000000e+00  ...  1.500000e+01  3.400000e+01
max    3.470000e+02  9.990000e+02  ...  2.400000e+01  4.100000e+01

[8 rows x 8 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 334696 entries, 0 to 334695
Data columns (total 22 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   merchant_id                  334696 non-null  object
 1   merchant_group_id            334696 non-null  int64
 2   merchant_category_id         334696 non-null  int64
 3   subsector_id                 334696 non-null  int64
 4   numerical_1                  334696 non-null  float64
 5   numerical_2                  334696 non-null  float64
 6   category_1                   334696 non-null  object
 7   most_recent_sales_range      334696 non-null  object
 8   most_recent_purchases_range  334696 non-null  object
 9   avg_sales_lag3               334683 non-null  float64
 10  avg_purchases_lag3           334696 non-null  float64
 11  active_months_lag3           334696 non-null  int64
 12  avg_sales_lag6               334683 non-null  float64
 13  avg_purchases_lag6           334696 non-null  float64
 14  active_months_lag6           334696 non-null  int64
 15  avg_sales_lag12              334683 non-null  float64
 16  avg_purchases_lag12          334696 non-null  float64
 17  active_months_lag12          334696 non-null  int64
 18  category_4                   334696 non-null  object
 19  city_id                      334696 non-null  int64
 20  state_id                     334696 non-null  int64
 21  category_2                   322809 non-null  float64
dtypes: float64(9), int64(8), object(5)
memory usage: 56.2+ MB
None
       merchant_group_id  merchant_category_id  ...       state_id     category_2
count      334696.000000         334696.000000  ...  334696.000000  322809.000000
mean        31028.736143            423.131663  ...      11.860942       2.380002
std         31623.043426            252.898046  ...       6.176889       1.562661
min             1.000000             -1.000000  ...      -1.000000       1.000000
25%          3612.000000            222.000000  ...       9.000000       1.000000
50%         19900.000000            373.000000  ...       9.000000       2.000000
75%         51707.250000            683.000000  ...      16.000000       4.000000
max        112586.000000            891.000000  ...      24.000000       5.000000

[8 rows x 17 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 123623 entries, 0 to 123622
Data columns (total 5 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   first_active_month  123622 non-null  object
 1   card_id             123623 non-null  object
 2   feature_1           123623 non-null  int64
 3   feature_2           123623 non-null  int64
 4   feature_3           123623 non-null  int64
dtypes: int64(3), object(2)
memory usage: 4.7+ MB
None
          feature_1      feature_2      feature_3
count  123623.00000  123623.000000  123623.000000
mean        3.10926       1.741796       0.564377
std         1.18911       0.749195       0.495840
min         1.00000       1.000000       0.000000
25%         2.00000       1.000000       0.000000
50%         3.00000       2.000000       1.000000
75%         4.00000       2.000000       1.000000
max         5.00000       3.000000       1.000000

  authorized_flag          card_id  city_id  ... category_2  state_id subsector_id
0               Y  C_ID_415bb3a509      107  ...        1.0         9           19
1               Y  C_ID_415bb3a509      140  ...        1.0         9           19
2               Y  C_ID_415bb3a509      330  ...        1.0         9           14
3               Y  C_ID_415bb3a509       -1  ...        NaN        -1            8
4               Y  C_ID_ef55cf8d4b       -1  ...        NaN        -1           29

[5 rows x 14 columns]

In [ ]:
import pandas_profiling 
new_trans_report=pandas_profiling.ProfileReport(new_trans)
new_trans_report
# data visualization

In [ ]:
print(new_trans.info())
new_trans.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1963031 entries, 0 to 1963030
Data columns (total 14 columns):
 #   Column                Dtype
---  ------                -----
 0   authorized_flag       object
 1   card_id               object
 2   city_id               int64
 3   category_1            object
 4   installments          int64
 5   category_3            object
 6   merchant_category_id  int64
 7   merchant_id           object
 8   month_lag             int64
 9   purchase_amount       float64
 10  purchase_date         object
 11  category_2            float64
 12  state_id              int64
 13  subsector_id          int64
dtypes: float64(2), int64(6), object(6)
memory usage: 209.7+ MB
None

authorized_flag              0
card_id                      0
city_id                      0
category_1                   0
installments                 0
category_3               55922
merchant_category_id         0
merchant_id              26216
month_lag                    0
purchase_amount              0
purchase_date                0
category_2              111745
state_id                     0
subsector_id                 0
dtype: int64

In [39]:
# fEATURE enginerring
# Test data
test['first_active_month']=pd.to_datetime(train_full['first_active_month'])
test['elapsed_time']=(datetime.date(2018,2,1)-train_full['first_active_month'].dt.date).dt.days
test.head()

  first_active_month          card_id  ...  feature_3  elapsed_time
0         2017-06-01  C_ID_0ab67a22ab  ...          1           245
1         2017-01-01  C_ID_130fd0cbdd  ...          0           396
2         2016-08-01  C_ID_b709037bc5  ...          1           549
3         2017-09-01  C_ID_d27d835a9f  ...          0           153
4         2017-11-01  C_ID_2b5e3df5c2  ...          1            92

[5 rows x 6 columns]

In [18]:
# Train_data

train_full['first_active_month']=pd.to_datetime(train_full['first_active_month'])
train_full['elapsed_time']=(datetime.date(2018,2,1)-train_full['first_active_month'].dt.date).dt.days #df['firstactive_month'].max() = (2018,2,1)

target=train_full['target']
del train_full['target']
train_full.head()

  first_active_month          card_id  ...  feature_3  elapsed_time
0         2017-06-01  C_ID_92a2005557  ...          1           245
1         2017-01-01  C_ID_3d0044924f  ...          0           396
2         2016-08-01  C_ID_d639edf6cd  ...          0           549
3         2017-09-01  C_ID_186d6a6901  ...          0           153
4         2017-11-01  C_ID_cdbd2c0db2  ...          0            92

[5 rows x 6 columns]

In [10]:

from ipykernel import kernelapp as app
import datetime
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

def binarize(df):
    for i in ['authorized_flag','category_1']:
        df[i]=df[i].map({'Y':1, 'N':0})
    return df
#create function to aggregate info
def aggregation_his(history):
    history['purchase_date']=pd.to_datetime(history['purchase_date']).astype(np.int64)
    agg_func={
    'category_1': ['sum', 'mean'],
    'category_2_1.0': ['mean'],
    'category_2_2.0': ['mean'],
    'category_2_3.0': ['mean'],
    'category_2_4.0': ['mean'],
    'category_2_5.0': ['mean'],
    'category_3_A': ['mean'],
    'category_3_B': ['mean'],
    'category_3_C': ['mean'],
    'merchant_id': ['nunique'],
    'merchant_category_id': ['nunique'],
    'state_id': ['nunique'],
    'city_id': ['nunique'],
    'subsector_id': ['nunique'],
    'purchase_amount': ['sum', 'mean', 'max', 'min', 'std'],
    'installments': ['sum', 'mean', 'max', 'min', 'std'],
    'purchase_month': ['mean', 'max', 'min', 'std'],
    'purchase_date': ['min', 'max'],
    'month_lag': ['mean', 'max', 'min', 'std'],
    'month_diff': ['mean']
    }
    agg_his=history.groupby('card_id').agg(agg_func)
    # Transform multiindex to index
    agg_his.columns=['_'.join(i) for i in agg_his.columns]
    agg_his.reset_index(inplace=True)

    df= history.groupby('card_id').size().reset_index(name='transactions_count')
    agg_his_trans=pd.merge(agg_his,df,on='card_id',how='left')
    return agg_his_trans
 
def aggregate_per_month(history):
    grouped=history.groupby(['card_id','month_lag'])
    agg_fuc={
        'purchase_amount':['count','sum','mean','min','max','std'],
        'installments':['count','sum','mean','min','max','std']
    }
    intermediate_group=grouped.agg(agg_fuc)
    intermediate_group.columns=['_'.join(i) for i in intermediate_group.columns]
    intermediate_group.reset_index(inplace=True)

    final_group=intermediate_group.groupby('card_id').agg(['mean','std'])
    final_group.columns=['_'.join(col).strip() for col in final_group.columns.values]
    final_group.reset_index(inplace=True)
    return final_group

In [12]:
# feature engineering with historical transaction data
his_trans=pd.read_csv('/content/drive/My Drive/Google colab data/Elo_merchant_kaggle/historical_transactions.csv',chunksize=100000)

his_list=[]   
authorized_his_list=[]
final_group_list=[]
for chunk in his_trans:
    chunk=binarize(chunk)

    chunk=pd.get_dummies(chunk,columns=['category_2','category_3'])
    #chunk=reduce_mem_usage(chunk)

    auth_mean=chunk.groupby('card_id').agg({'authorized_flag':'mean'})
    auth_mean.columns = ['_'.join(col).strip() for col in auth_mean.columns.values]
    auth_mean.reset_index(inplace=True)
    
    # Tổng hợp theo authorized_flag
    authorized_his_trans=chunk[chunk['authorized_flag']==1]
    his_trans=chunk[chunk['authorized_flag']==0]

    his_trans['purchase_month']=pd.to_datetime(his_trans['purchase_date']).dt.month
    authorized_his_trans['purchase_month']=pd.to_datetime(authorized_his_trans['purchase_date']).dt.month

    his=aggregation_his(his_trans)
    his.columns=['hist_'+ c if c !='card_id' else c for c in his.columns]
    authorized_his=aggregation_his(authorized_his_trans)
    authorized_his.columns=['author_'+ c if c !='card_id' else c for c in authorized_his.columns]

    his_list.append(his)
    authorized_his_list.append(authorized_his)

    final_group=aggregate_per_month(authorized_his_trans)
    final_group_list.append(final_group)

no_authorized_his=pd.concat(his_list)
authorized_his=pd.concat(authorized_his_list)
final_group=pd.concat(final_group_list)

no_authorized_his.head()

           card_id  ...  hist_transactions_count
0  C_ID_0046db9f8a  ...                        8
1  C_ID_01904d743d  ...                       21
2  C_ID_01b098ff01  ...                       54
3  C_ID_02c2ed9fc0  ...                       13
4  C_ID_02cc9ba024  ...                       36

[5 rows x 38 columns]

In [23]:
# new merchant transactions
new_trans=pd.read_csv('/content/drive/My Drive/Google colab data/Elo_merchant_kaggle/new_merchant_transactions.csv')
new_trans = binarize(new_trans)
new_trans.head()

   authorized_flag          card_id  ...  state_id  subsector_id
0                1  C_ID_415bb3a509  ...         9            19
1                1  C_ID_415bb3a509  ...         9            19
2                1  C_ID_415bb3a509  ...         9            14
3                1  C_ID_415bb3a509  ...        -1             8
4                1  C_ID_ef55cf8d4b  ...        -1            29

[5 rows x 14 columns]

In [25]:
values={'category_2':1.0,'category_3':'A'}
new_trans.fillna(value=values,inplace=True)
new_trans=pd.get_dummies(new_trans,columns=['category_2','category_3'])

In [24]:
auth_mean=new_trans.groupby('card_id').agg({'authorized_flag':'mean'})
auth_mean.columns = ['_'.join(col).strip() for col in auth_mean.columns.values]
auth_mean.reset_index(inplace=True)

In [41]:
new_trans['month_diff']=(datetime.datetime.today()-pd.to_datetime(new_trans['purchase_date'])).dt.days//30
new_trans['month_diff']+=new_trans['month_lag']

In [43]:
new_trans['purchase_month']=pd.to_datetime(new_trans['purchase_date']).dt.month 
new=aggregation_his(new_trans)
new.head()

           card_id  category_1_sum  ...  month_diff_mean  transactions_count
0  C_ID_00007093c1               0  ...        29.000000                   2
1  C_ID_0001238066               2  ...        28.807692                  26
2  C_ID_0001506ef0               0  ...        29.000000                   2
3  C_ID_0001793786               0  ...        32.709677                  31
4  C_ID_000183fdda               0  ...        28.818182                  11

[5 rows x 38 columns]

In [29]:
# Hàm này để tổng hợp purchase_amount và installments theo các cách nhóm khác nhau
def successive_agg(df, field1, field2):
    u=df.groupby(['card_id',field1])[field2].mean().reset_index().groupby('card_id')[field2].agg(['mean','min','max','std'])
    #u=pd.DataFrame(t).reset_index().groupby('card_id').[field2].agg(['mean','min','max','std'])
    u.columns=[field1+'_'+field2+'_'+col for col in u.columns.values]
    u.reset_index(inplace=True)
    return u
additional_fields=successive_agg(new_trans,'category_1','purchase_amount')
additional_fields=additional_fields.merge(successive_agg(new_trans,'installments','purchase_amount'),on='card_id',how='left')
additional_fields=additional_fields.merge(successive_agg(new_trans,'category_1','installments'),on='card_id',how='left')
additional_fields.head()

           card_id  ...  category_1_installments_std
0  C_ID_00007093c1  ...                          NaN
1  C_ID_0001238066  ...                     1.443676
2  C_ID_0001506ef0  ...                          NaN
3  C_ID_0001793786  ...                          NaN
4  C_ID_000183fdda  ...                          NaN

[5 rows x 13 columns]

In [45]:
# merge all the dataframe
train=pd.merge(train_full,no_authorized_his, on='card_id', how='left')
test=pd.merge(test,no_authorized_his, on='card_id', how='left')

train=pd.merge(train,authorized_his, on='card_id', how='left')
test=pd.merge(test,authorized_his, on='card_id', how='left')

train=pd.merge(train,new, on='card_id', how='left')
test=pd.merge(test,new, on='card_id', how='left')

train=pd.merge(train,final_group, on='card_id', how='left')
test=pd.merge(test,final_group, on='card_id', how='left')

train=pd.merge(train,auth_mean, on='card_id', how='left')
test=pd.merge(test,auth_mean, on='card_id', how='left')

train=pd.merge(train,additional_fields, on='card_id', how='left')
test=pd.merge(test,additional_fields, on='card_id', how='left')

In [46]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 202999 entries, 0 to 202998
Columns: 156 entries, first_active_month to category_1_installments_std
dtypes: datetime64[ns](1), float64(134), int64(20), object(1)
memory usage: 243.2+ MB

In [47]:
pip install bayesian-optimization

Collecting bayesian-optimization
  Downloading https://files.pythonhosted.org/packages/bb/7a/fd8059a3881d3ab37ac8f72f56b73937a14e8bb14a9733e68cc8b17dbe3c/bayesian-optimization-1.2.0.tar.gz
Requirement already satisfied: numpy>=1.9.0 in /usr/local/lib/python3.6/dist-packages (from bayesian-optimization) (1.18.5)
Requirement already satisfied: scipy>=0.14.0 in /usr/local/lib/python3.6/dist-packages (from bayesian-optimization) (1.4.1)
Requirement already satisfied: scikit-learn>=0.18.0 in /usr/local/lib/python3.6/dist-packages (from bayesian-optimization) (0.22.2.post1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn>=0.18.0->bayesian-optimization) (0.16.0)
Building wheels for collected packages: bayesian-optimization
  Building wheel for bayesian-optimization (setup.py) ... done
  Created wheel for bayesian-optimization: filename=bayesian_optimization-1.2.0-cp36-none-any.whl size=11685 sha256=ff2be66cf54ea66802a19257e8549661eed625c91216d6ef5215bc52a6522089
  Stored in directory: /root/.cache/pip/wheels/5a/56/ae/e0e3c1fc1954dc3ec712e2df547235ed072b448094d8f94aec
Successfully built bayesian-optimization
Installing collected packages: bayesian-optimization
Successfully installed bayesian-optimization-1.2.0

In [48]:
features=[c for c in train.columns if c not in ['card_id','first_active_month']]
import numpy as np
import sklearn
from xgboost import XGBClassifier
import xgboost as xgb
from bayes_opt import BayesianOptimization
from sklearn.model_selection import cross_val_score

In [54]:
target.describe()

count    201917.000000
mean         -0.393636
std           3.850500
min         -33.219281
25%          -0.883110
50%          -0.023437
75%           0.765453
max          17.965068
Name: target, dtype: float64

In [55]:
train_xgb = xgb.DMatrix(train[features].values, label= target.values)

def bayes_xgboost(learning_rate,
                  n_estimators,
                  gamma,
                  subsample,
                  colsample,
                  max_depth,
                  min_child_weight):
  #max_depth = int(max_depth)
  #n_estimators = int(n_estimators)

  param = {'learning_rate':learning_rate, 'n_estimators':int(n_estimators),'gamma': gamma,
           'subsample': subsample, 'colsample': colsample, 'max_depth':int(max_depth),
           'min_child_weight': min_child_weight}
  estimator = xgb.cv(
        param,
        dtrain =train_xgb,
        nfold = 5,
        stratified = False,
        num_boost_round = 100,
        metrics='rmse',
        )
  return -1.0 * estimator['test-rmse-mean'].iloc[-1] # Nhan với -1 vì bayes optimization chỉ tìm max của function f( estimator)

pbounds = {
    'learning_rate': (0.01, 1.0),
    'n_estimators': (100, 1000),
    'max_depth': (3,10)
    'subsample': (0.1, 1.0),  # Change for big datasets
    'colsample': (0.1, 1.0),  # Change for datasets with lots of features
    'gamma': (0, 5),
    'min_child_weight':(0,20)}

optimizer = BayesianOptimization(
    f=bayes_xgboost,
    pbounds=pbounds,
    verbose=2,
    random_state=1,

)

optimizer.maximize(init_points=2,n_iter=3)
print(optimizer.max)

|   iter    |  target   | colsample |   gamma   | learni... | max_depth | min_ch... | n_esti... | subsample |
-------------------------------------------------------------------------------------------------------------
|  1        | -3.854    |  0.4753   |  3.602    |  0.01011  |  5.116    |  2.935    |  183.1    |  0.2676   |
|  2        | -3.927    |  0.411    |  1.984    |  0.5434   |  5.934    |  13.7     |  284.0    |  0.8903   |
|  3        | -3.854    |  0.1      |  5.0      |  0.01     |  3.0      |  0.0      |  1e+03    |  0.1      |
|  4        | -1.76e+16 |  1.0      |  0.0      |  1.0      |  10.0     |  20.0     |  100.0    |  1.0      |
|  5        | -1.47e+16 |  0.1      |  5.0      |  0.01     |  3.0      |  0.0      |  1e+03    |  0.1      |
=============================================================================================================
{'target': -3.854132, 'params': {'colsample': 0.47531980423231657, 'gamma': 3.6016224672107904, 'learning_rate': 0.010113231069171438, 'max_depth': 5.116328008422879, 'min_child_weight': 2.935117816342261, 'n_estimators': 183.10473529191802, 'subsample': 0.2676341902399038}}